# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
com
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
com
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
!/.gitignore
.idea/
JAVA-study.iml
java_pid15344.hprof
java_pid15420.hprof
out/
target/
